.Container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.Container-Cadastro{
    background-color: black;
    border-right: 4px solid yellow;
    min-width: 400px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Container-title{
    font-size: 65px;
    text-align: center;
    color: #fff;
}

.Container-Produtos{
    display: flex;
    flex-wrap: wrap;
    color: black;
    width: 70%;
    background-color: rgb(20, 14, 14);
}